body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
}

#header {
    margin: 0 0 0 0;
	font-family: Arial;
	font-size: 100%;
	width: 100%;
    background: #000000;
	color: #FFFFFF;
	overflow: hidden;
	text-align: right;
	
}

#content {
    float: left;
    background: #FFFFFF;
    width: 100%;
	text-align: center;
}

